AddHandler application/x-httpd-php .php .htm .html

AddDefaultCharset UTF-8

ErrorDocument 404 http://localhost/gallery/404

RewriteEngine on

    RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]

    RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
    
    RewriteRule .* - [L,R=404]